body{
    text-align: center;
    
}

section{
    border-top: 4px solid #E9D07E;
}

.row{
   background-color: #f6f3ff;
}

@media (min-width:991px) {
   img{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-right: 4px solid #E9D07E;
} 
}

@media (max-width:991px) {
    img{
    display: flex;
    justify-content: flex-start;
    width: 100%;
    border-bottom: 4px solid #E9D07E;
}
}

.intro-section{
    background: rgba(69, 58, 148, 0.6);
    border: 4px solid #E9D07E;
    border-radius: 12px;
    padding: 25px;
    margin-top: 35px;
    margin-left: 70px;
    margin-right: 70px;
    font-family: 'Red Hat Display';
}

h3{
    color: #E9D07E;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #E9D07E;
}

@media (min-width:768px) {
    p{
    padding-left: 20px;
    padding-right: 45px;
}
}

@media (max-width: 768px) {
    p{
    padding-left: 30px;
    padding-right: 30px;
}
}

button{
    margin-bottom: 30px;
    border: 3px solid #E9D07E;
    background-color: rgba(69, 58, 148, 0.6);
    padding: 15px;
    border-radius: 10px;
    
}

.home-btn{
    color: #f6f3ff;
    text-decoration: none;
    font-family: 'Red Hat Display';
}
.home-btn:hover{
    color: #f6f3ff;
    text-decoration: underline;
}

footer{
    padding-top: 45px;
    background-color: rgba(69, 58, 148, 0.6);
    border-top: 4px solid #E9D07E;
    color: #f6f3ff;
}

.contact-links{
    color: #f6f3ff;
    text-decoration: none;
}
.contact-links:hover{
    color: #453a94;
    text-decoration: underline;
}

