body{
    text-align: center;
    
}

.row{
    background-color: skyblue;
}

img{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

h3{
    padding-top: 35px;
    padding-bottom: 25px;
    color: #DBDBDB;
}

h1{
    font-size: 48px;
    font-weight: bold;
    color: #DBDBDB;
    background-color: #f43b47;
    padding: 10px;
    border-radius: 8px;
    margin-left: 75px;
    margin-right: 75px;
}

@media (min-width:768px) {
    p{
    padding-left: 20px;
    padding-right: 45px;
}
}

@media (max-width: 768px) {
    p{
    padding-left: 30px;
    padding-right: 30px;
}
}

footer{
    padding-top: 45px;
    background-color: #f43b47;
}
