body{
    background-color: rgba(69, 58, 148, 0.6);
    
}

header{
    text-align: right;
    padding-right: 30px;
    padding-top: 10px;
    color: #E9D07E;
    border-top: 3px dotted #E9D07E;
}

img{
    width: 80%;
    border: 3px dotted #E9D07E;
    display: flex;
    justify-content: center;
    margin-left: 35px;
}

@media (min-width:1108px) {
    h4{
    background-color: white;
    border-radius: 12px;
    margin-right: 70px;
    margin-top: 120px;
    padding: 60px;
    color: #E9D07E;
    font-size: 48px;
    font-weight: bold;
    border: 4px dotted #E9D07E;
}
}

@media (max-width:1100px){
    h4{
    background-color: white;
    border-radius: 12px;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 60px;
    padding: 35px;
    color: #E9D07E;
    font-size: 32px;
    font-weight: bold;
}
}

.links{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.contact-links{
    color: #E9D07E;
    font-size: 60px;
    text-decoration: none;
}

.contact-links:hover{
    color: #E9D07E;
    text-decoration: none;
}

.contact-links:visited{
    color: #E9D07E;
    text-decoration: none;
}

button{
    display: block;
    margin: 0 auto;
    text-align: center;
    border: 5px solid #E9D07E;
    border-radius: 8px;
    background-color: white;
    padding: 15px;
    margin-top: 55px;
}

.home-link{
    color:#453a94;
    text-decoration: none;
    font-weight: bold;
}

.home-link:hover{
    color: rgba(69, 58, 148, 0.6);
    text-decoration: none;
}

footer {
    padding: 20px;
    background-color: #453a94;
    color: #f6f3ff;
    text-align: center;
    border-top: 3px dotted #E9D07E;
}

.outside-links{
    color: #f6f3ff;
    text-decoration: none;
}

.outside-links:hover{
    color: #f6f3ff;
    text-decoration: underline;
}