:root{
    --home-middle-section-bg-text-color: rgb(246, 246, 246);
}

.home-top{
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    color: white;
    text-align: center;
    border: 4px solid #453a94;
    padding-bottom: 30px;
}

h1{
    font-size: 52px;
    padding-top: 45px;
    padding-bottom: 20px;
}

button{
    background-color: white;
    color: #453a94;
    padding: 10px;
    border: 2px solid #453a94;
    border-radius: 8px;
    font-weight: bold;
    margin-top: 30px;
}

a{
    color: #453a94;
    text-decoration: none;
}

a:hover{
    color: #453a94;
    text-decoration: underline;
}

.home-projects{
    background-color: #DBDBDB;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.home-project-title{
    font-size: 48px;
    font-weight: bold;
    color: #453a94;
    margin-bottom: 70px;
    text-decoration: underline;
}

img{
    margin-bottom: 40px;
    width: 60%;
}
@media (max-width:1000px){
    h4{
    font-weight: bold;
    display: flex;
    justify-content: center;
}
}

@media (min-width: 1000px){
    h4{
        font-weight: bold;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
    }
}

@media (min-width: 1000px){
    .home-p{
    background-color: #453a94;
    color: var(--home-middle-section-bg-text-color);
    padding: 30px;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 100px; 
    font-size: 24px;
}
}
@media(max-width: 1000px){
    .home-p{
    background-color: #453a94;
    color: var(--home-middle-section-bg-text-color);
    padding: 25px;
    border-radius: 5px;
    margin-top: 15px;
    margin-bottom: 25px; 
    }
}

.contact-home{
    background-color: #f43b47;
    border: 4px solid #453a94;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 30px;
}

#self-image{
    margin-top: 5px;
    border: 3px solid #453a94;
    max-height: 80%;
    width: 40%;
}

@media (min-width: 768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 100px;
    margin-top: 85px;
}
}

@media (max-width:768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 30px;
    
}
}

