:root{
    --home-middle-section-bg-text-color: rgb(246, 246, 246);
    --backup-top-gradient: linear-gradient(to top, #f43b47 0%, #453a94 100%)
}

.home-top{
    background-image: linear-gradient(to top, #f6f3ff 0%, rgba(69, 58, 148, 0.6) 100%);
    color: #f6f3ff;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1{
    font-size: 80px;
    padding-bottom: 40px;
    font-family: 'Red Hat Display';
    font-weight: bold;
}

h3{
    text-align: center;
    color: #453a94;
    font-size: 34px;
    font-weight: bold;
    font-family: 'Red Hat Display';
}

button{
    background-color:#f6f3ff;
    color: #453a94;
    padding: 15px;
    border: 3px solid #453a94;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 30px;
}

.homepage-link{
    font-family: 'Red Hat Display';
    font-size: 18px;
}

a{
    color: #453a94;
    text-decoration: none;
}

a:hover{
    color: #453a94;
    text-decoration: underline;
}

.home-projects{
    background-color: #f6f3ff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 5px dashed #E9D07E;
    border-bottom: 5px dashed #E9D07E;
}

.home-project-title{
    font-size: 48px;
    font-weight: bold;
    color: #453a94;
    margin-bottom: 70px;
    font-family: 'Homemade Apple';
}

img{
    margin-bottom: 30px;
    width: 90%;
    border: 3px solid #f6f3ff;
}

.contact-home{
    background-image: linear-gradient(to top, rgba(69, 58, 148, 0.6) 0%, #f6f3ff 100%);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#self-image{
    margin-top: 5px;
    border: 5px solid #453a94;
    width: 60%;
}

@media (min-width: 768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 80px;
    margin-top: 25px;
    font-size: 18px;
    font-weight: 500;
}
}

@media (max-width:768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 30px;
    
}
}

footer{
    color: #453a94;
    padding-top: 30px;
}