:root{
    --home-middle-section-bg-text-color: rgb(246, 246, 246);
    --backup-top-gradient: linear-gradient(to top, #f43b47 0%, #453a94 100%)
}

.home-top{
    background-image: linear-gradient(to top, rgba(69, 58, 148, 0.6) 0%, #f6f3ff 100%);
    color: #453a94;
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}

h1{
    font-size: 80px;
    padding-top: 45px;
    padding-bottom: 50px;
    font-family: 'Red Hat Display';
    font-weight: bold;
}

button{
    background-color:#f6f3ff;
    color: #453a94;
    padding: 15px;
    border: 3px solid #453a94;
    border-radius: 10px;
    font-weight: bold;
    margin-top: 40px;
}

.homepage-link{
    font-family: 'Red Hat Display';
    font-size: 18px;
}

a{
    color: #453a94;
    text-decoration: none;
}

a:hover{
    color: #453a94;
    text-decoration: underline;
}

.home-projects{
    background-color: #f6f3ff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 5px dashed #E9D07E;
    border-bottom: 5px dashed #E9D07E;
}

.home-project-title{
    font-size: 48px;
    font-weight: bold;
    color: #453a94;
    margin-bottom: 70px;
    font-family: 'Red Hat Display';
}

img{
    margin-bottom: 40px;
    width: 60%;
    border: 3px solid #f6f3ff;
}
@media (max-width:1000px){
    h4{
    font-weight: bolder;
    display: flex;
    justify-content: center;
    font-family: 'Red Hat Display';
}
}

@media (min-width: 1000px){
    h4{
        font-weight: bolder;
        font-size: 30px;
        display: flex;
        justify-content: flex-start;
        font-family: 'Red Hat Display';
    }
}

@media (min-width: 1000px){
    .home-p{
    background-color: rgba(69, 58, 148, 0.8);
    color: var(--home-middle-section-bg-text-color);
    padding: 30px;
    border: 4px solid #E9D07E;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 25px;
    margin-right: 100px; 
    font-size: 24px;
}
}
@media(max-width: 1000px){
    .home-p{
    background-color: rgba(69, 58, 148, 0.6);
    color: var(--home-middle-section-bg-text-color);
    padding: 25px;
    border: 4px solid #E9D07E;
    border-radius: 5px;
    margin-top: 25px;
    margin-bottom: 25px; 
    }
}

.contact-home{
    background-image: linear-gradient(to top, rgba(69, 58, 148, 0.6) 0%, #f6f3ff 100%);
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

#self-image{
    margin-top: 5px;
    border: 5px solid #453a94;
    max-height: 80%;
    width: 40%;
}

@media (min-width: 768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 100px;
    margin-top: 85px;
}
}

@media (max-width:768px) {
    .contact-description{
    padding-left: 30px;
    padding-right: 30px;
    
}
}

footer{
    color: #453a94;
}