.top-projects{
    background-image: url(/images/coding-img.jpg);
    background-size: cover;
    height: fit-content;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 50px;
    text-align: center;
}

@media (min-width:650px) {
    h1{
    color: #453a94;
    margin-bottom: 75px;
    font-size: 68px;
    font-weight: bold;
    background-color: #EBEBEB;
    padding: 15px;
    border-radius: 7px;
    margin-left: 160px;
    margin-right: 160px;
}
}

@media (max-width:650px) {
    h1{
    color: #453a94;
    margin-bottom: 75px;
    font-size: 68px;
    font-weight: bold;
    background-color: #EBEBEB;
    padding: 15px;
    border-radius: 7px;
    }
}

.project-link{
    background-color: #EBEBEB;
    color: #453a94;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border: 2px solid  #453a94;
    border-radius: 7px;
    margin-bottom: 25px;
}

.project-link:hover{
    color: #453a94;
    text-decoration: underline;
}

.mid-section{
    background-color: black;
    padding-bottom: 35px;
}

.project-btn{
    background-color: black;
    padding: 14px;
    border: 4px solid #453a94;
    border-radius: 8px;
    margin-bottom: 10px;
}

.return-btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.open-project-links{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.open-project-links:hover{
    color: #453a94;
    text-decoration: underline;
}

img{
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: 4px solid #f43b47;
    border-radius: 10px;
    padding: 45px;
}

@media (min-width:650px) {
    .app-descriptions{
    text-align: center;
    color: white;
    background-color: #f43b47;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
    border-radius: 10px;
}
}

@media (max-width:650px) {
    .app-descriptions{
    text-align: center;
    color: white;
    background-color: #f43b47;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border-radius: 10px;
}
}

.lower-section{
    background: #f43b47;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
}

.home-btn{
    background-color: black;
    color: white;
    border: 2px solid #f43b47;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 35px;
}

.contact-links{
    color: black;
    font-size: 18px;
}

.contact-links:hover{
    color: white;
}