.top-projects{
    background-image: url(/images/code.jpg);
    background-size: cover;
    height: fit-content;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 50px;
    text-align: center;
}

@media (min-width:650px) {
    h1{
    color: #453a94;
    margin-bottom: 75px;
    font-size: 68px;
    font-weight: bold;
    background-color: #f6f3ff;
    padding: 15px;
    border-radius: 7px;
    margin-left: 160px;
    margin-right: 160px;
    border: 5px dashed #E9D07E;
}
}

@media (max-width:650px) {
    h1{
    color: #453a94;
    margin-bottom: 75px;
    font-size: 68px;
    font-weight: bold;
    background-color: #f6f3ff;
    padding: 15px;
    border-radius: 7px;
    }
}

.project-link{
    background-color:#f6f3ff;
    color: #453a94;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
    border: 4px solid  #E9D07E;
    border-radius: 7px;
    margin-bottom: 25px;
}

.project-link:hover{
    color: #453a94;
    text-decoration: underline;
}

.mid-section{
    background-color: rgba(69, 58, 148, 0.6);
    padding-bottom: 35px;
    border-top: 5px dashed #E9D07E;
}

.project-btn{
    background-color: black;
    padding: 14px;
    border: 4px solid #453a94;
    border-radius: 8px;
    margin-bottom: 10px;
}

.return-btn{
    display: block;
    margin: 0 auto;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.open-project-links{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.open-project-links:hover{
    color: #f6f3ff;
    text-decoration: underline;
}

img{
    display: flex;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.7);
    border: 4px solid #f6f3ff;
    border-radius: 10px;
    padding: 45px;
}

@media (min-width:768px) {
    h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 25px;
}
}

@media (max-width:768px) {
    h2{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 15px;
}
}

@media (min-width:650px) {
    .app-descriptions{
    text-align: center;
    color: #453a94;
    background-color: #f6f3ff;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 180px;
    margin-right: 180px;
    padding: 10px;
    border: 4px dashed #E9D07E;
    border-radius: 10px;
    line-height: 1.5;
    font-size: 20px;
}
}

@media (max-width:650px) {
    .app-descriptions{
    text-align: center;
    color: #453a94;
    background-color: #f6f3ff;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 10px;
    border: 4px dashed #E9D07E;
    border-radius: 10px;
    font-size: 15px;
}
}

.lower-section{
    background: #f6f3ff;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 25px;
    border-top: 5px dashed #E9D07E;
}

.home-btn{
    background-color: black;
    color: white;
    border: 2px solid #f6f3ff;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 35px;
}

.contact-links{
    color: #453a94;
    font-size: 18px;
    text-decoration: none;
}

.contact-links:hover{
    color:#453a94;
    text-decoration: underline;
}